*{
	font-family: impact;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

.back
{
	height:649px;
    width: 100%px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(back.jpg);
	background-position: center;
	background-size: cover;
	
}

.banner
{
	height: 200px;
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) ;

}
 
.logo
 {
 	margin-top: 20PX;
	margin-left: 50px;
 }

 .donate
 { margin-top: 50px;
     height: 75px;
     width: 180px;
     border: 10px solid white;
     border-radius:25px ;
 }

  .items
  {
  	display: flex;
  	justify-content: space-evenly;
  }

  .donate
  {
  	padding: 10px;
  	font-size: 60px;
  	color: white;
  }

  .logo
  { 
  	font-family: cursive;
  	font-size: 70px;
    color: white;
  }

  .about
   { 
   	 margin-top: 50px;
     height: 75px;
     width: 130px;
     border: 10px solid white;
     border-radius:25px;
   	padding: 10px;
  	font-size: 60px;
  	color: white;
 }

 .donate
 {
 	
 	transition: 0.4s;
 }

 .about
 {
 	margin-left: 50px;
 }

 .donate:hover
 {
   background-image: url(skin.jpg);
 }

 .about:hover
 {
   background-image: url(skin.jpg);
 }


 .heading
 {
  margin-top: 30px;
  font-size: 50px;
  font-family: impact;
  color: white;
  text-align: center;
}

.back2
{
    height: 649px;
    width: 100%;
    background-position: center;
    background-size: cover;
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(bg2.jpg);
}
